/* style.css */
body {
  background-color: #c5cec4c9; /* white */
  font-size: 1.5em;
  font-family:;
  color: #953850; /* deep wine text */
  margin: 0;
  font-family: "Libertinus Keyboard", system-ui;
  padding: 20px;
  text-align: center;
}

h1 {
font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-size: 4em;
  color: rgb(228, 84, 180);
}

h2 {
  color: #6d96ec; /* rosy mauve */
  font-size: 1.5em;
  text-align: center;
}

h3 {
  color: #6d96ec; /* deep wine */
  margin-top: 2em;
  text-align: center;
}

ul li {
  background: #69ee65; /* muted olive green for list items */
  color: white;
  font-size: 1.2em;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
}

a {
  color: #c77eae; /* rosy mauve links */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: 20px auto;
  border: 5px solid #d477b4; /* magenta border for profile pic */
  border-radius: 10px;
}
div {
  width: 300px;
  height: 150px;
  background-color: #edcce7; /* soft lavender */
  border: 2px solid #953850; /* deep wine border */
  padding: 20px;  /* space inside box */
  margin: 30px auto; /* space outside box, centered */
  justify-content: center;
  align-items: center;
  display: flex;
}